/* =====================================================================================================================
 * Global
 * =====================================================================================================================
*/

a {
    color: #2C699E;
}

strong {
    color: #2C699E;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-image: url(/img/Background_texture.png);

}

/* =====================================================================================================================
 * ------------------------------------------------- Header Adullact ---------------------------------------------------
 * =====================================================================================================================
*/

#parentship {
    text-align: center;
    background-color: #BCCDEB;
    color: #615454;
    font-size: 14px;
    padding-top: 12px;
}

/* =====================================================================================================================
 * ------------------------------------------------- Navbar ------------------------------------------------------------
 * =====================================================================================================================
*/

/*.nav-cdl {
    position: absolute;
    left: 25%;
    bottom: 15px;
}*/

.navbar-toggle .icon-bar {
    background-color: #2C699E;
}

.navbar-default .navbar-nav > li > ul > li > a nav {
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0;
    min-height: 150px;
    background-color: #FFFFFF;
    box-shadow: 15px 15px 15px rgba(87, 87, 86, 0.4);
    border: none;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

.navbar a,
.subnav a {
    text-decoration: inherit;
}

.nav,
.nav ul,
.nav li {
    list-style: none;
    font-size: 24px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Nav: min-width 768px
 */

@media (min-width: 768px) {

    .nav,
    .nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav {
        float: left;
        margin: 0;
    }

    .nav ul {
        background: #FFFFFF;
        position: absolute;
        z-index: 10;
        top: 1.5em;
        left: -9999px;
        opacity: 0;
    }

    .nav li {
        float: left;
        position: relative;
        color: #2C699E;
    }

    .nav li > a {
        /*float: left;*/
        padding: 16px;
        color: #2C699E;
        display: initial;
    }

    .nav li > a:hover,
    .nav li > a:focus {
        background: #FFFFFF;
    }

    .nav li:focus > a,
    .nav li:hover > a {
        background: #FFFFFF;
    }

    .nav > li:first-child > a {
        border-left: 0;
    }

    .nav > li:last-child > a {
        border-right: 0;
    }

    .nav li:hover ul,
    .nav li:focus ul,
    ul.show-menu {
        left: 0;
        opacity: 0.99;
    }

    .nav ul li {
        float: none;
        position: static;
    }

    .nav ul a {
        float: none;
        display: block;
        color: #2C699E;

        text-shadow: none;
        border-bottom: 1px solid #e7e7e7;
        -webkit-transition: 0.1s linear all;
    }

    .nav ul,
    .nav ul li:last-child a {
        border: 0;
    }

    .nav ul a:hover,
    .nav ul a:focus {
        background: #E1E3E9;
        color: #2C699E;
        text-shadow: none;
    }

    .rightMenu > li > a {
        padding: 16px 8px 16px 8px;
    }
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: underline;
}

/* Color should be different for current entry */
.nav li.current {
    font-weight: bold;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #2C699E;
    background-color: #16213C;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #F0C425;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1F2E54;
}

.navbar-default .navbar-nav > li > ul > li > a {
    color: #2C699E;
}

.navbar-default .navbar-nav > li > ul > li > a:hover,
.navbar-default .navbar-nav > li > ul > li > a:focus {
    color: #000;
    background: #FFFFFF;
}

.navbar-collapse {
    max-height: 500px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Sub-nav
 */

.subnav {
    position: absolute;
}

[data-visually-hidden="true"] {
    display: none;
}

[data-visually-hidden="false"] {
    display: block;
}

/* end sub-nav */

.current,
li.current {
    background: #FFFFFF;
    text-decoration: #0a4965;
}

.cdl-navbar-logo {
    margin: 15px 60px;
}

.cdl-navbar-logo-link {
    margin: 25px 60px;
}

span.cdl-navbar-logo,
a.cdl-navbar-logo {
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
}

/* =====================================================================================================================
 *-------------------------------------------------- Page Home -----------------------------------------------------
 * =====================================================================================================================
*/
.jumbotron-cdl>p{
    font-size: 1.9em;
    font-style: italic;
    color: #0069B4;
    text-align: right;
    line-height: 1;
}
.jumbotron-cdl>h2{
    color: #004999;
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    margin: 1em 0 0.4em 0
}

.jumbotron-cdl {
    margin-top: 1em;
}

.accent {
    color: #00BE64;
    font-weight: bold;
    font-size: 1.5em;

}

/* =====================================================================================================================
 *-------------------------------------------------- Page Software -----------------------------------------------------
 * =====================================================================================================================
 */

/* ---------------------------------------------------------------------------------------------------------------------
 * Software-unit
 */

.metric-score {
    display: inline-block;
}

.software-unit .score,
ul .score,
.metric-score .score,
.allLink {
    display: inline-block;
}

.software-unit-see-more p {
    font-size: 500%;
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Score
 */

.score {
    color: black;
    background: white;
    border: 2px solid #E1E1E1;
    padding: 5px;
    min-width: 3em;
    min-height: 2.5em;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 1em;
    position: relative;
    bottom: 8px;
}

.score_low {
    color: black;
    background-color: #FF2020;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_medium {
    color: black;
    background-color: #FF8020;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;

}

.score_high {
    color: black;
    background-color: #20C0C0;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_best {
    color: black;
    background-color: #9ACD32;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_NA {
    color: black;
    background-color: #827C7C;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_percent {
    color: gray;
    font-size: 60%;
}

.rating {
    display: inline-block;
    margin-left: 1em;
}

.rating-unit {
    /*! float: right; */
    font-size: 1.5em;
    position: absolute;
    bottom: 1.2em;
    margin: 0 auto;
    left: 50%;
    margin-left: -2.4em;
}

.rating-star {
    color: #00BE64;
    font-size: 1.25em;
}

.rating-star-unit {
    color: #00BE64;
}

.abbr {
    border-bottom: none;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Badges
 */

.stamp {
    float: right;
    bottom: 0;
}

.badge {
    color: #444444;
    border-radius: 2px;
    border: 2px solid #E1E1E1;
}

.badgeAdministration {
    background-color: #D5EEEF;
}

.badgeCompany {
    background-color: #E7D0F6;
}

.badgeAsso {
    background-color: #FDD8E9;
}

.badgePerson {
    background-color: #cccdfd;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Software Summary
 */

.align h1,
.align h2,
.align span,
.align p,
.align ul {
    display: inline-block;
}

.allSee {
    margin-left: 3em;
}

.countSection {
    font-family: cursive;
    font-weight: bold;
    margin-left: 10px;
}

.softTitle {
    display: block;
    text-align: center;
}

.software-unit-home > a {
    font-size: 18px;
    color: #0069B4;
    font-weight: bold;
}

.project-description {
    font-size: 16px;
}


/*
************************* Tags
*/
.listSoftwareTag{
    margin: 12px 0px 0px 0px;
}

.tagsPlace{
    display: inline;
}

li .tagsContainer{
    padding-left: 0px;
}

div .tagsPlace{
    padding-right: 5px;
}




/*
*** Background-color => Pantone Jaune minion -> VALIDEEEEEEEE
 */
.tagUnit{
    display: inline-block;
    background-color: #2A874B;
    color : #E0E0E0;
    border: 1px solid #E0E0E0;
    border-radius: 4px 4px 4px 4px;
    min-height: 2em;
    padding: 3px 5px 0px 5px;
    margin-bottom: 2px;
}

/*
*** on Tags Page
 */
.tagCell{
    padding: 4px 4px 4px 4px;
    min-height: 2em;
}




/* ---------------------------------------------------------------------------------------------------------------------
 * Review
 */

.blockReview {
    background-color: #FFFFFF;
    border: 2px solid #E1E1E1;
    min-height: 17em;
    margin: 10px 0 15px 0;
    padding: 5px 25px 5px 25px;
}

.linkItem {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50%;
}

.linkItemAllArea {

    height: 100%;
}

.AsideReview  > p {
    font-size: 20px;
    margin : 0.2em;
    text-align: center;
}

.AsideReview  {
    z-index: 3;
    border-right: #00BE64;
    border-style: none solid none none;
}

.AsideReview  > p > a {
    color : #0069B4;
    font-size: 0.7em;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Metric table
 */

table th {
    background-color: #006C88;
    color: #FFFFFF;
}

.datacellnumber {
    text-align: right;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Metric accordion
 */

[aria-hidden="true"] {
    display: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

h3 button[aria-expanded="false"]::before {
    /*content: '\25ba\0020';*/
    content: '+';
}

h3 button[aria-expanded="true"]::before {
    /*content: '\25bc\0020';*/
    content: '-';
}

/* =====================================================================================================================
 *-------------------------------------------------- Footer ------------------------------------------------------------
 * =====================================================================================================================
*/

footer {
    text-align: center;
    margin-top: 5em;
}

.footer-logo {
    margin-left: 3em;
    vertical-align: baseline;
    width: 7em;
}

/* =====================================================================================================================
 * -------------------------------------------------- Page All Screenshot------------------------------------------------
 * =====================================================================================================================
*/

.screenShot {
    height: 12em;
    width: 18em;
}

/* =====================================================================================================================
 * -------------------------------------------------- All Pages -------------------------------------------------------
 * =====================================================================================================================
*/

main {
    width: 98%;
    margin: auto;
}

.cdl-paginator{
    text-align: center;
}

.backgroundbody {
    background-color: #F0F1F4;
}

.backgroundUnit {
    background-color: #FFFFFF;
    border: 1px solid #BCCDEB;
    /*! border-radius: 5px 5px 5px 5px; */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);
}

section h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

section p {
    margin-top: 0.8em;
}

.addmore {
    margin-top: 2em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.inactive-button{
    margin-top: 2em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
}


.addmore:hover {
    margin-top: 2em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.edit-software,
.edit-software:hover {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.contact-user,
.contact-user:hover {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.addmore a {
    color: #fff;
}

.removeOne {
    margin-top: 2.5em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #0E0E0E;
    text-decoration: #fff;
    background-color: #ED4D60;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.removeOne:hover {
    margin-top: 2.5em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #0E0E0E;
    text-decoration: #fff;
    background-color: #ED4D60;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.removeOne a {
    color: #404040;
}

.unit-see-more p {
    font-size: 500%;
    text-align: center;
}

/* =====================================================================================================================
 * ---------------------------------------------- FORMS -----------------------------------------------------------
 * =====================================================================================================================
 */
form {
    margin: 0 0 1rem
}

form .row .row {
    margin: 0 -0.5rem
}

form .row .row .column,
form .row .row .columns {
    padding: 0 0.5rem
}

form .row .row.collapse {
    margin: 0
}

form .row .row.collapse .column,
form .row .row.collapse .columns {
    padding: 0
}

form .row .row.collapse input {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
    padding-left: 0.5rem
}

.error label,
.error label.error {
    color: #f26b6b;
}

form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
    color: #2B2B2B;
    background-color: #f26b6b;

}

.asterisk {
    color: #f26b6b;
}

.warning-form {
    border-radius: 4px;
    line-height: 2.5em;
}


.addmore-form{
    display: inline-block;
    float: right;
}
/* ---------------------------------------------------------------------------------------------------------------------
 * Navbar search form
 */

#navbar-search {
    margin: 0 0 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Software filters
 */

.searchFormFilters {
    margin-bottom: 2em;
}

.searchFormFilters .input-group {
    margin-right: 10px;
}

/* =====================================================================================================================
 * ---------------------------------------------- FLASH messages -------------------------------------------------------
 * =====================================================================================================================
 */

div.message {
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 2.5rem 0 2.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #52e86f;
    color: #626262;
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #f26b6b;
    color: #5a5a5a;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #5a5a5a;
    content: "x";
}

div.message.hidden {
    height: 0;
}

.home-header {
    background-color: #d8d8d8;
    color: #5a5a5a;
}

.small-header {
    color: #5a5a5a;
}

/* =====================================================================================================================
 * ---------------------------------------------- MEDIA QUERIES --------------------------------------------------------
 * =====================================================================================================================
 */

/* ---------------------------------------------------------------------------------------------------------------------
 * min-width 300px
 */

@media screen and (min-width: 300px) {

    #parentship-logo {
        width: 100px;
        padding-bottom: 10px;
    }

    main h2 {
        margin: 0.8em 0 0.8em 0;
    }

    .size-box {
        min-height: 18em;
    }

    .software-unit-home {
        min-height: 20em;
        padding: 10px;
        margin: 0 0 20px 0;

    }

    .software-unit-all {
        min-height: 18em;
        margin-bottom: 2em;
        padding: 10px;
        max-width: 25em;
    }

    .user-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .user-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
        max-width: 25em;
    }

    .review-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .review-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
        max-width: 25em;
    }

    h2.size-title {
        font-size: 18px;
        /*! display: table-cell; */
        vertical-align: middle;
        margin: 0 5px 10px 5px;
    }

    .size-logo {
        height: 6em;
        margin: 0 auto;
    }

    .size-logo > a > img {
        max-height: 4em;
        margin: 0 auto;
    }

    .size-logo-overview {
        min-height: 12em;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * min-width 768px
 */

@media (min-width: 768px) {

    .cdl-navbar-logo {
        margin: 15px 75px;
    }

    .cdl-navbar-logo-link {
        margin: 25px 75px;
    }

    span.cdl-navbar-logo,
    a.cdl-navbar-logo {
        padding-top: 0;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 0;
    }

    .nav-pull-down{
        position: absolute;
        left:25%;
        bottom:15px;
    }
    .nav-pull-down-right{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    #parentship-logo {
        width: 90px;
        margin-top: 6px;
    }

    main h2 {
        margin: 0.8em 0 0.8em 0;
    }

    .size-box {
        min-height: 18em;
    }

    .software-unit-home {
        height: 19em;
        padding: 10px;
        margin: 0 0 30px 0;
    }

    .software-unit-all {
        height: 19em;
        margin-bottom: 2em;
        padding: 10px;
    }

    .review-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .review-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
    }

    .user-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .user-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
    }

    .size-title {
        height: 2em;
        display: table-cell;
        vertical-align: middle;
    }

    .size-logo {
        height: 6em;
        margin: auto;
        padding-bottom: 12px;
    }

    .size-logo > a > img {
        max-height: 6em;
        margin: 0 auto;
    }

    .size-logo-overview {
        min-height: 10em;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    /*
    ***** search button
    */
    .search,
    .filter {
        background-color: #0069B4;
        color: #F5F5F5;
    }

    .search:hover,
    .filter:hover {
        background-color: #0069B4;
        color: #F5F5F5;
    }

    .filter {
        margin-top: 22px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * min-width 1280px
 */

@media (min-width: 1280px) {

    .nav-pull-down > li {
        margin-left: 1.5em;
        font-size: 1.08em;
    }

    .clean-nav {
        margin-right: 2.5em;
    }

    main h2 {
        margin: 1em 0 0.8em 0;
    }

    .size-box {
        min-height: 18em;
    }

    .software-unit-home {
        min-height: 25em;
        padding: 15px;
        margin-bottom: 10px;
        position: relative;
    }

    .software-unit-all {
        min-height: 22em;
        border: 2px solid #EFEFEF;
        margin-bottom: 2em;
        padding: 10px;
    }

    .user-unit-home {
        min-height: 17em;
        padding: 10px;
    }

    .user-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
    }

    .size-title {
        height: 2em;
        display: table-cell;
        vertical-align: middle;
        /*! margin: 0 5px 10px 5px; */
    }

    .size-logo {
        height: 7em;
        margin: auto;
        margin-top: 2em;
        padding-bottom: 12px;
    }

    .size-logo > a > img {
        max-height: 6em;
        margin: 0 auto;
    }

    .size-logo-overview {
        min-height: 12em;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .img-overview {
        min-height: 12em;
    }

    .search {
        margin-right: 100px;
    }

    .navbar-toggle { /* #0C536B blue theme*/
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        color: black;
        background-color: #0C536B;
    }

    .row > a {
        color: #2C699E;
    }
}

/* =====================================================================================================================
 * ---------------------------------------------- Tooltip --------------------------------------------------------------
 * =====================================================================================================================
 */

.indicator {
    position: absolute;
    margin-top: 2em;
}

i + [role="tooltip"] {
    display: none;
    padding: 5px 12px;
    position: absolute;
    margin-left: 2em;
    margin-top: 1em;
}

i:hover + [role="tooltip"] {
    display: inline-block;
    padding: 5px 12px;
    position: absolute;
    margin-left: 2em;
    margin-top: 1em;

}
